body{
    background-color: rgb(182, 227, 255);
}

img {
    width: 100%;
    border-radius: 4px;
}

figure{
    margin: 0;
    display: flex;
    margin-bottom: 15px;
    break-inside: avoid;
}

.container {
    column-count: 3;
    column-gap: 10px;
}